amqp==5.1.1
asgiref
billiard==4.1.0
black
cachetools==5.3.1
chardet==5.2.0
click
click-aliases
click-default-group
click-didyoumean
click-help-colors
click-plugins
click-repl
colorama==0.4.6
commonmark==0.9.1
distlib==0.3.7
Django==4.2.4
django-debug-toolbar==4.1.0
django-extensions==3.2.3
django-stubs==4.2.3
django-stubs-ext==4.2.2
factory-boy==3.3.0
Faker==19.3.0
filelock==3.12.2
flake8==6.1.0
greenlet==2.0.2
gunicorn==21.2.0
kombu==5.3.1
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.2.0
prompt-toolkit==3.0.39
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
pyproject-api==1.5.3
python-dateutil==2.8.2
rich
six==1.16.0
SQLAlchemy==1.4.49
sqlparse==0.4.4
tabulate==0.8.10
task
tomli==2.0.1
tox==4.8.0
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.11
typing-extensions
tzdata==2023.3
vine==5.0.0
virtualenv==20.24.3
wcwidth==0.2.6
whitenoise
